.item-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
}

.item-container {
    background-color: #fff;
    padding: 5rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 5px 8px 14px 2px rgba(219, 219, 219, 1);
    -moz-box-shadow: 5px 8px 14px 2px rgba(219, 219, 219, 1);
    box-shadow: 5px 8px 14px 2px rgba(219, 219, 219, 1);
    width: 50%;
}

.item-form-button:enabled{
    align-self: center;
    font-size: 15px;
    font-family: Arial;
    width: fit-content;
    height: 50px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 6px 16px 0px rgba(208, 209, 214, 1);
    background: linear-gradient(rgba(69, 200, 236, 1), #18aaf0);
    padding: 0 50px;
}
.item-form-button:hover:enabled {
    align-self: center;
    font-size: 15px;
    font-family: Arial;
    width: fit-content;
    height: 50px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 6px 16px 0px rgba(208, 209, 214, 1);
    background: linear-gradient(rgba(69, 200, 236, 1), #18aaf0);
    padding: 0 50px;
}

.item-form-button:disabled {
    background-color: #ccc;
    cursor: default;
    align-self: center;
    font-size: 15px;
    font-family: Arial;
    width: fit-content;
    height: 50px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 6px 16px 0px rgba(208, 209, 214, 1);
    padding: 0 50px;
}